<div class="position-absolute top-50 start-50 translate-middle">
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>Seja Bem-vindo(a) a Eletronica - Brasil</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Somos uma loja de eletronicos totalmente <cite title="Source Title">Fictícia</cite>
        <br>
        Este é um projeto feito em angular, onde eu coloco tudo que eu aprendo aqui. <br>Ele esta disponivel no <a href="https://github.com/andrekdev/MeuPrototipo---Angular" class="text-danger stretched-link">github</a> 
      </figcaption>
    </figure>
  
  </div>