<div class="position-absolute top-50 start-50 translate-middle">
    <figure class="text-center">
      <blockquote class="blockquote">
        <p>Seja Bem-vindo(a) a Eletronica - Brasil</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Fique a vontade para comprar componentes para sua <cite title="Source Title">GAMBIARRA</cite>
        <br>
        Clique <a href="#" class="text-danger stretched-link">aqui</a> para ir direto as compras
      </figcaption>
    </figure>
  
  </div>